body{
    background-color: rgba(34, 34, 104, 0.534);
    font: normal 15pt Arial;
}
header{
    color: white;
    text-align: center;
}
section{
    background-color: white;
    border-radius: 10px;
    padding: 15;
    width: 500;
    margin: auto;
    box-shadow: 3px 3px 10px rgb'black';
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}